<style>
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

    body {
        background-color: #F7F7F7;
        font-family: 'Open Sans', sans-serif;
    }
    /*Navbar*/
    .navbar-default {
        background-color: #fff;
        border-bottom-color: #E3E3E3;
    }

        .navbar-default .navbar-nav > .active > a,
        .navbar-default .navbar-nav > .active > a:hover,
        .navbar-default .navbar-nav > .active > a:focus {
            background-color: transparent !important;
        }

        .navbar-default .btn-compose {
            padding-right: 10px;
            border-right: 1px solid #F0F0F0;
        }
    /*Forms setup*/
    .form-control {
        border-radius: 0;
        box-shadow: none;
        height: auto;
    }

    .float-label {
        font-size: 10px;
    }

    input[type="text"].form-control,
    input[type="search"].form-control {
        border: none;
        border-bottom: 1px dotted #CFCFCF;
    }

    textarea {
        border: 1px dotted #CFCFCF !important;
        height: 130px !important;
    }
    /*Content Container*/
    .content-container {
        background-color: #fff;
        padding: 35px 20px;
        margin-bottom: 20px;
    }

    h1.content-title {
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        font-family: 'Open Sans', sans-serif !important;
    }
    /*Compose*/
    .btn-send {
        text-align: center;
        margin-top: 20px;
    }
    /*mail list*/

    ul.mail-list {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 30px;
    }

        ul.mail-list li a {
            display: block;
            border-bottom: 1px dotted #CFCFCF;
            padding: 20px;
            text-decoration: none;
        }

        ul.mail-list li:last-child a {
            border-bottom: none;
        }

        ul.mail-list li a:hover {
            background-color: #DBF9FF;
        }

        ul.mail-list li span {
            display: block;
        }

            ul.mail-list li span.mail-sender {
                font-weight: 600;
                color: #8F8F8F;
            }

            ul.mail-list li span.mail-subject {
                color: #8C8C8C;
            }

            ul.mail-list li span.mail-message-preview {
                display: block;
                color: #A8A8A8;
            }

    .mail-search {
        border-bottom-color: #7FBCC9 !important;
    }

    .nav-pills > li > a:hover {
        background-color: #cecece;
    }

    .nav>li>a:focus, .nav>li>a:hover{
        color:#f55567;
        background-color:none;
    }

    .nav-pills > li > a:hover{
        color: #f55567;
        background-color:#fff;
    }

    .nav>li>a:focus, .nav>li>a:hover{
          color: #f55567;
        background-color:none;
    }
    .seila{
        color: #6B5757;
        background-color:#fff;
        font-size:11pt;
    }
   
    .seila:hover{
        color: #f55567;
        background-color:#fff;
    }
   
</style>





<div class="container sidebar col-md-3 " style="margin-bottom:18px;width:252px;">
    <div class="panel panel-default" style="margin-left:10px">
        <div class="panel-heading" style="background-image: none">
            Menu
        </div>
        <div class="panel-body">

            <!--<ul class="nav nav-pills nav-stacked">

                <li ng-class="{active3: activetab == '/'}"><a href="/home" style="color: "><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                <li ng-class="{active: activetab == '/cliente'}"><a href="/cliente" style=" background-color: #fff;"><span class="glyphicon glyphicon-user"></span> Clientes</a></li>
                <li ng-class="{active: activetab == '/profissionais'}"><a href="/profissionais" style=" background-color: #fff;"><span class="glyphicon glyphicon-leaf"></span> Profissionais</a></li>
                <li ng-class="{active: activetab == '/tratamento'}"><a href="/tratamento" style=" background-color: #fff;"><span class="glyphicon glyphicon-leaf"></span> Tratamentos</a></li>
                <li ng-class="{active: activetab == '/agenda'}"><a href="/agenda" style=" background-color: #fff;"><span class="glyphicon glyphicon-calendar"></span> Agenda</a></li>


            </ul>-->

            <ul class="nav nav-pills nav-stacked">



                <li ng-class="{active3: activetab == '/'}" class="seila"><a href="/home" class="seila"><span class="fa fa-angle-double-right text-primary"></span> Dashboard</a></li>
                <li>
                    <a href="#dropdown" data-toggle="collapse" class="seila">Paciente<span class="fa fa-angle-double-down text-primary" style="margin-left:15px"></span></a>
                </li>
                <li>
                    <div class="panel-collapse collapse" id="dropdown" style="background-color:rgba(0, 0, 0, 0);">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li style="width:170px">
                                    <a href="/cliente" style="color:#544CB5; border-bottom: 1px solid #cecece"><span></span>Lista de pacientes</a>
                                </li>
                                <li style="width:170px">
                                    <a href="/tratamento" styl style="color:#544CB5"><span class=""></span>Agendar Tratamento</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </li>
                <li ng-class="{active3: activetab == '/profissionais'}"><a href="/profissionais" class="seila"><span class="fa fa-angle-double-right text-primary"></span> Profissionais</a></li>
                
                <li ng-class="{active3: activetab == '/agenda'}"><a href="/agenda" class="seila"><span class="fa fa-angle-double-right text-primary"></span> Agendamento</a></li>

                
            </ul>

        </div>
    </div>
</div>





