
<style>
    .navbar-inverse {
        background-color: #fff;
        background-image: none;
        border: 1px solid #cce;
        box-shadow: 0px 0px 2px #ccc;
    }

        .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
            background-color: #ccc;
            background-image: none;
            -webkit-box-shadow: none;
        }

        .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
            text-shadow: none;
        }

        .navbar-inverse .navbar-brand {
            font-size: 15pt;
            color: #f55567;
            color: #B33;
        }

    .well {
        background-image: none;
    }

    .glyphicon{
        margin-right:5px;
    }

    .fa{
        margin-right: 5px;
    }



    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
        color: #f55567;
    }

    .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
        color: #B33;
    }

    
</style>



<body style="padding-top:0px">



    <div class="navbar navbar-inverse navbar-static-top">

        <div class="container">

            <a href="#" class="navbar-brand">Agenda Fácil <i class="fa fa-calendar-check-o"></i></a> <button class="navbar-toggle"
                                                                       data-toggle="collapse" data-target=".navHeaderCollapse"></button>

            <div class="collapse navbar-collapse navHeaderCollapse ">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="#"><i class="glyphicon glyphicon-envelope"></i>Notificações</a></li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>Olá, usuário! <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Log off</a></li>
                            <li class="divider" />
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>


                </ul>

        </div>
    </div>







