<div class="col-md-10 content">
    <h1 class="page-header">Lista de Clientes</h1>
    <div class="row">
    </div>

    <div class="panel panel-default ">
        <div class="panel-heading">
            Filtro de Busca
        </div>
        <div class="panel-body ">
            <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Procurar por Nome" ng-model="filtroCliente">
                <span class=" input-group-btn"><button class="btn btn-default" id="searchButton" type="button"><i class="fa fa-search"></i></button></span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Resultados
            <div class="pull-right">
                <div class="btn-group">
                    <a href="" class="btn btn-primary btn-xs ">Novo Cliente</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped" id="tabelaCliente">
                    <thead>
                        <tr>
                            <th>NOME</th>
                            <th>TELEFONE</th>
                            <th>EMAIL</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in listaClientes | filter: filtroCliente">
                            <td>{{item.nome}}</td>
                            <td>{{item.telefone}}</td>
                            <td>{{item.email}}</td>
                            <td>
                                <input type="button" class="btn btn-success btn-xs" value="Editar" />
                                <input type="button" class="btn btn-warning btn-xs" value="Detalhes" />
                                <input type="button" class="btn btn-danger btn-xs" value="Bloquear" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

