<div class="col-md-9 content">
    <div class="row">
    </div>
    <div class="panel panel-default ">
        <div class="panel-heading" style="background-image:none">
            Filtro de Busca
        </div>
        <div class="panel-body ">
            <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Procurar por Nome" ng-model="filtroClientes">
                <span class=" input-group-btn"><button class="btn btn-default" id="searchButton" type="button"><i class="fa fa-search"></i></button></span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="background-image:none">
            Lista de Profissionais
            <div class="pull-right">
                <div class="btn-group">
                    <a href="" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modShow">Novo Cliente</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped" id="tabelaClientes">
                    <thead>
                        <tr>
                            <th>NOME</th>
                            <th>TELEFONE</th>
                            <th>EMAIL</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in listaClientes | filter: filtroClientes">
                            <td>{{item.Nome}}</td>
                            <td>{{item.Telefone}}</td>
                            <td>{{item.Email}}</td>
                            <td>
                                <input type="button" class="btn btn-info btn-xs" value="Informações" data-toggle="modal" data-target="#modShow" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--MODAL CADASTRO-->
<div class="container">
    <div class="modal fade" id="modShow" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Informações do Cliente</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 formContent">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-lg-12">
                                        <form role="form">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Nome</label>
                                                <div class="col-md-8" style="margin-bottom: 15px;margin-top: -5px;">
                                                    <input type="text" class="form-control" ng-model="cliente.nome" />
                                                </div>
                                                <label class="col-md-4 control-label">Endereço</label>
                                                <div class="col-md-8" style="margin-bottom: 15px;margin-top: -5px;">
                                                    <input type="text" class="form-control" ng-model="cliente.endereco" />
                                                </div>
                                                <label class="col-md-4 control-label">Email</label>
                                                <div class="col-md-8" style="margin-bottom: 15px;margin-top: -5px;">
                                                    <input type="text" class="form-control" ng-model="cliente.email" />
                                                </div>
                                                <label class="col-md-4 control-label">Telefone</label>
                                                <div class="col-md-8" style="margin-bottom: 15px;margin-top: -5px;">
                                                    <input type="text" class="form-control" ng-model="cliente.telefone" />
                                                </div>
                                                <label class="col-md-4 control-label">Data Nascimento</label>
                                                <div class="col-md-8" style="margin-bottom: 15px;margin-top: -5px;">
                                                    <input type="text" class="form-control" ng-model="cliente.nascimento" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" ng-click="salvarDados(cliente)" ng-model="cliente" value="Cadastrar" />
                    <input type="submit" class="btn btn-danger" ng-click="salvarDados(cliente)" ng-model="cliente" value="Bloquear" />
                    <input type="button" class="btn btn-default" value="Voltar" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODAL CADASTRO-->
