 
<style>
    .active3 {
        background-color: #606D80;
        background-color: rgba(110, 141, 179, 0.54);
        color: #fff;
        font-size: 12pt;
        font-weight: bold;
    }

    .navbar-default .navbar-nav > li > a {
        color: #7D81B1;
    }
</style>
<div class="col-md-2 sidebar">
        <div class="row">
            <!-- uncomment code for absolute positioning tweek see top comment in css -->
            <div class="absolute-wrapper"> </div>
            <!-- Menu -->
            <div class="side-menu">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav">
                            <li ng-class="{active3: activetab == '/'}"><a href="/home" style="color: "><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                            <li ng-class="{active: activetab == '/agenda'}"><a href="/agenda" style=" background-color: #fff;"><span class="glyphicon glyphicon-calendar"></span> Agenda</a></li>
                            <li ng-class="{active: activetab == '/cliente'}"><a href="/cliente" style=" background-color: #fff;"><span class="glyphicon glyphicon-leaf"></span> Tratamentos</a></li>

                            <!-- Dropdown-->
                            <li class="panel panel-default" id="dropdown">
                                <a data-toggle="collapse" href="#dropdown-lvl1" style=" background-color: #fff;">
                                    <span class="glyphicon glyphicon-user"></span> Cliente <span class="caret"></span>
                                </a>

                                <!-- Dropdown level 1 -->
                                <div id="dropdown-lvl1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="#">Cadastrar</a></li>
                                            <li><a href="#">Remover</a></li>
                                            

                                            <!-- Dropdown level 2 -->
                                            <li class="panel panel-default" id="dropdown">
                                                <a data-toggle="collapse" href="#dropdown-lvl2">
                                                    <span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
                                                </a>
                                                <div id="dropdown-lvl2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul class="nav navbar-nav">
                                                            <li><a href="#">Link</a></li>
                                                            <li><a href="#">Link</a></li>
                                                            <li><a href="#">Link</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li><a href="#" style=" background-color: #fff;"><span class="glyphicon glyphicon-signal"></span> :)</a></li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>

            </div>
        </div>
    </div>
   
  
   

